<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <com.redhat.jenkins.plugins.ci.CIBuildTrigger plugin="activemq-messaging@1.0.0-SNAPSHOT">
            <spec></spec>
            <selector>CI_TYPE = &apos;code-quality-checks-done&apos;</selector>
        </com.redhat.jenkins.plugins.ci.CIBuildTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders/>
    <publishers/>
    <buildWrappers/>
</project>
