<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <com.redhat.jenkins.plugins.ci.CIMessageSubscriberBuilder plugin="jms-messaging@1.0.0-SNAPSHOT">
            <selector>CI_TYPE = &apos;code-quality-checks-done&apos;</selector>
            <variable>scott</variable>
            <timeout>60</timeout>
        </com.redhat.jenkins.plugins.ci.CIMessageSubscriberBuilder>
    </builders>
    <publishers>
    </publishers>
    <buildWrappers/>
</project>
