<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <com.redhat.jenkins.plugins.ci.CIMessageBuilder plugin="jms-messaging@1.0.0-SNAPSHOT">
            <messageType>CodeQualityChecksDone</messageType>
            <messageProperties>abc=def</messageProperties>
            <messageContent>abc</messageContent>
        </com.redhat.jenkins.plugins.ci.CIMessageBuilder>
    </builders>
    <publishers>
        <com.redhat.jenkins.plugins.ci.CIMessageNotifier plugin="jms-messaging@1.0.0-SNAPSHOT">
            <messageType>CodeQualityChecksDone</messageType>
            <messageProperties>abc=def</messageProperties>
            <messageContent>abc</messageContent>
        </com.redhat.jenkins.plugins.ci.CIMessageNotifier>
    </publishers>
    <buildWrappers/>
</project>
